//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^iglooenergyreferral.co.uk[nc]
RewriteRule ^(.*)$ https://www.iglooenergyreferral.co.uk/$1 [r=301,nc]

//Caching schema
<FilesMatch "\.(jpg|png|css|js)$">
Header set Cache-Control "public, max-age=86400"
</FilesMatch>